*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgb(85, 85, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background: antiquewhite;
    padding: 16px;
    border-radius: 5px;
    max-width: 640px;
}

.container:first-child {
    margin-bottom: 20px;
}

.form-input label {
    font-weight: 700;
}

.form-input input {
    border: 1ps solid #ccc;
    border-radius: 3px;
    padding: 12px;
    width: 100%;
    margin-top: 6px;
}



button {
    color: white;
    background: #1e3c72;
    border: none;
    border-radius: 3px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    margin-top: 6px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.item-value {
    font-weight: 700;
    padding-left: 10px;
}

.diagram {
    display: flex;
}

.bar {
   color: white;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.bar-green {
    background-color: rgb(16, 138, 16);
}

.bar-red {
    background-color: rgb(212, 35, 35);
}

.error-message {
    color: white;
    background: rgb(189, 62, 62);
    padding: 12px;
    border-radius: 3px;
    margin-bottom: 12px;
    display: none;
}

.salary-details {
    display: none;
}